<!DOCTYPE html>
<html>
<head>
	<title>Memory Game</title>
	<!-- Vue.js -->
	<script src="js/vue.js"></script>

	<!-- JQuery and Popper for Bootstrap. -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<!-- Boostrap 4 -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- Animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

	<!-- My JS and CSS -->
	<script src="js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body>
	<div class="container" id="app">
		<div id="scoreboard">
			<div class="row">
				<div class="col">
					<p>Rating: <i class="fas fa-star rating-stars" v-for="n in playerStats.playerRating"></i></p>
					<p>Moves: {{ playerStats.playerMoves }}</p>
					<p>Time: {{ playerStats.currentTime }}</p>
				</div>
				<div class="col">
					<p>Matches Left: {{ matchesleft }}</p>
				</div>
				<div class="col">
					<button class="btn btn-success" v-on:click="newgame">New Game</button>
				</div>
			</div>
		</div>
		<div id="gameboard">
			<memory-card v-for="(card, index) in cardsInPlay" :key="index" v-bind:card-text="cardsInPlay[index]" v-bind:card-index="index" v-on:handlecard="handlecard"></memory-card>
		</div>
		<audio id="tada" src="sounds/TaDa.mp3" type="audio/mp3"></audio>
		<audio id="slap" src="sounds/Slap.mp3" type="audio/mp3"></audio>
		<audio id="sad" src="sounds/Sad_Trombone.mp3" type="audio/mp3"></audio>
		<audio id="start" src="sounds/chinese-gong.mp3" type="audio/mp3"></audio>
		<audio id="winner" src="sounds/Cheering3.mp3" type="audio/mp3"></audio>
	</div>
</body>
</html>